<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ DESCRIPTION }}">
    <link rel="icon" href="./assets/favicon.ico">
    <title>{{ TITLE }}</title>
    <link href="./assets/css/bootstrap.css" rel="stylesheet"/>
    <link href="./assets/css/codehilite_colorful.css" rel="stylesheet">
  </head>

  <body>
  {{ MARKDOWN }}
  </body>

</html>
