/*目次デザインの変更設定*/
/* TOC 目次 */
#toc_container{
 margin-top:25px; /* 目次の上のスペースの幅*/
 margin-bottom:35px; /* 目次の下のスペースの幅*/
 border-radius: 0px; /*角を丸める場合は設定*/
 font-size: 16px; /*目次内の文字の大きさ*/
 padding-right: 20px; /*右端から20pxはなす */
 padding-left: 20px; /*左端から20pxはなす */
 background-color: #f5f5f5; /*目次ボックスの背景色*/
 border: 8px solid #b4b4b4; /*ボックスの外枠の設定*/
}

#toc_container .toc_title{
 font-size: 18px; /*目次タイトルの文字の大きさ*/
 color: #4A4A4A; /*目次タイトルの文字の色*/
 text-align: center;  /*目次タイトルを中央に配置*/
}

/*目次タイトルの前のファイルみたいな記号を入れる設定*/
#toc_container .toc_title:before{
 content: "\f0f6";
 font-family: FontAwesome;
 padding-right: 6px;
 color: #8A8A8A;
}

#toc_container .toc_toggle a{
 color: #7A7A7A; /*目次タイトルの横の閉じるマークの色*/
}

#toc_container ul{
 counter-reset:number; /*目次番号が増えるよう設定*/
 list-style:none; /*目次番号以外の記号は表示させない*/
}

#toc_container ul li{
 line-height: 1.25em; /*項目の高さ*/
 margin-bottom: 0.5em; /*項目間の幅*/
 margin-left:16px; /*目次の各項目の始まりを左端から離す*/
}

#toc_container ul li:before{
 counter-increment: number; /*項目の始めの数字をつける*/
 content: counter(number);
 font-weight: bold;
 color: #069;
 padding-right:12px; /*数字と目次項目の幅を広げたいときはここを調整*/
 margin-left:-20px;
}

#toc_container ul li a{
 font-weight: bold; /*目次項目の文字を太字に*/
 color: #069; /*目次項目の文字の色*/
}

#toc_container ul ul{
 margin-top: 0.5em; /*2レベル目の項目の上スペース幅の設定*/
}

#toc_container ul ul li{
 line-height: 1.25em; /*2レベル目の項目の高さ*/
 margin-bottom: 0.5em; /*2レベル目の項目の下の幅*/
}
#toc_container ul ul li:before{
 content: "\f0da"; /*三角マークを入れる*/
 font-family: FontAwesome;
 padding-right: 6px;
 margin-left:0px;
 color: #CCC;
 margin-left:-65px; /*2レベル目を左からどこに配置するのか*/
}

#toc_container ul ul li a{
 color: #3D3D3D; /*2レベル目の項目の文字色*/
 font-weight: normal; /*2レベル目の項目の文字は太字にしない*/
 padding-right:6px; /*2レベル目の項目を右端から離す*/
}
